---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="My Personal Website" description="Website about me">
  <main class="w-5/6 m-auto">
    <div id="about" class="mb-96">
      <h1 class="text-5xl">Zach Hunn</h1>
    </div>
    <div id="skills" class="mb-96">
      <h1>Skills Section</h1>
    </div>
    <div id="projects" class="mb-96">
      <h1>Projects Section</h1>
    </div>
  </main>
</BaseLayout>
